/* Estructura general */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  background-color: #169976;
  padding: 0.5rem 1rem;
  height: 75px;
  width: 100%;
}

.extContainer{
  display: flex;
  background-color: #4a4a4a;
}

.logoContainer{
  flex:2;
}
.logoLogin{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.logo {
  height: 75px;
  width: 75px;
  border-radius: 100%;
}

/* Contenedor principal */
.container {
  flex: 1;
  padding: 2rem;
  background-color: #4a4a4a;
  text-align: center;
}

.container h1,
.container h2 {
  color: #ffffff;
  margin-bottom: 1rem;
}

.registro-link {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin-bottom: 10px;
}

.registro-link:hover {
  color: #cccccc;
}

/* Formulario */
.form h3 {
  color: #ffffff;
  text-align: left;
  margin: 1.5rem 0 0.5rem 15%;
}

.form input {
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 4px;
  margin-left: 0%;

}

/* Botones */
.login-button {
  width: 70%;
  height: 40px;
  margin-top: 20px;
  background-color: #169976;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 50px;
}

.password-link {
  margin-top: 15px;
  display: block;
  color: #ffffff;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
  margin-left: 15%;
  margin-bottom: 20px;
}

/* Footer */